.App {
  text-align: center;
  height: 100vh;
}

.darkTheme {
  background-color: rgb(39, 36, 36);
  color: white;
  overflow: auto;
}
.lightTheme {
  height: 100vh;
  overflow: auto;
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.hRihM_f8fUSF28hdwGI-WwHaE5&pid=Api&rs=1&c=1&qlt=95&w=187&h=123");
  background-repeat: no-repeat; /* Prevents repeating */
  background-size: cover; /* Scales the image to cover the entire screen */
  background-position: center;
}
