/* Global styles for the app */
.App {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark theme styles */
.darkTheme {
  background-color: #121212;
  color: white;
}

/* Light theme styles */
.lightTheme {
  background-color: white;
  color: black;
}

/* Additional styling for components if needed */
button {
  background-color: inherit; /* Ensure buttons respect global theme */
  color: inherit;
}

.list-group-item {
  background-color: inherit;
  color: inherit;
}
